# Ignore files named "debug_custom" anywhere in the project
**/debug_custom

# Ignore files named "debug" anywhere in the project
**/debug

# Ignore files named "esp32.svd" anywhere in the project
**/esp32.svd

.pio
.vscode/
.DS_Store
platformio-device-monitor*
Atom_Gateway/.vscode
Atom_Node/.vscode
Core_Station/.vscode